In [1]:
import pandas as pd
from datetime import datetime
from datetime import timedelta

### Lettura file di Fuelio

In [2]:
vehicle = pd.read_csv('vehicle-1-sync.csv', header=0, skiprows=1, nrows=1)
vehicle

,Name,Description,DistUnit,FuelUnit,ConsumptionUnit,ImportCSVDateFormat,VIN,Insurance,Plate,Make,Model,Year,TankCount,Tank1Type,Tank2Type,Active,Tank1Capacity,Tank2Capacity,FuelUnitTank2,FuelConsumptionTank2
0,Punto Evo,La Punto di Federico,0,4,3,yyyy-MM-dd,NaN,NaN,DZ595XP,FIAT,Punto Evo,2010,2,500,100,1,16.0,0.0,0,3

In [ ]:
log = pd.read_csv('vehicle-1-sync.csv', header=0, skiprows=4, nrows=80)

,Data,Odo (km),kg,Full,Price (optional),km/l (optional),latitude (optional),longitude (optional),City (optional),Notes (optional),Missed,TankNumber,FuelType,VolumePrice,StationID (optional),ExcludeDistance,UniqueId,TankCalc,Weather
0,2024-12-23 17:15,292739.0,14.582,1,20.40,22.22,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.399,464075,5.0,342,0.0,NaN
1,2024-12-18 18:37,292410.0,14.761,1,20.65,23.17,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.399,464075,0.0,341,0.0,NaN
2,2024-12-15 04:00,292068.0,15.231,1,20.41,24.16,43.09277,12.35795,PERUGIA CENTOVA 2 - Perugia,NaN,0,1,501,1.340,492989,40.0,340,0.0,NaN
3,2024-12-11 19:15,291660.0,16.199,1,21.69,23.64,43.09277,12.35795,PERUGIA CENTOVA 2 - Perugia,NaN,0,1,501,1.339,492989,10.0,338,0.0,NaN
4,2024-12-08 00:05,291267.0,15.639,1,20.94,23.02,43.07468,12.42811,Stazione di Servizio IS - Ponte S. Giovanni - ...,NaN,0,1,501,1.339,398401,40.0,339,0.0,NaN

In [ ]:
costcategories = pd.read_csv('vehicle-1-sync.csv', header=0, skiprows=86, nrows=9)

,2024-01-27 22:11,266007.0,11.362,1,20.1,164.93,43.35304,12.56143,SEP - SEP,Unnamed: 9,0,2,110,1.769,361768,0.0,261,0.0.1,Unnamed: 18
0,2024-01-22 22:18,265608.0,11.446,1,14.41,31.71,43.12885,12.42243,IP - IP,NaN,0,1,501,1.259,89914,50.0,260,0.0,NaN
1,2024-01-16 18:54,265195.0,13.086,1,15.90,45.77,43.07468,12.42811,Stazione di Servizio IS - Ponte S. Giovanni - ...,NaN,0,1,501,1.215,398401,0.0,259,0.0,NaN
2,2024-01-09 00:17,264596.0,15.281,1,19.85,21.73,43.12885,12.42243,IP - IP,NaN,0,1,501,1.299,89914,80.0,258,0.0,NaN
3,2024-01-02 18:50,264184.0,14.938,1,20.60,22.02,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.379,464075,200.0,257,0.0,NaN
4,2023-12-30 03:18,264133.0,22.642,1,40.28,117.18,43.27300,12.68065,IP -,NaN,0,2,110,1.779,692505,0.0,256,0.0,NaN
5,2023-12-22 11:23,263655.0,13.851,1,19.10,21.80,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.379,464075,0.0,255,0.0,NaN
6,2023-12-18 23:55,263353.0,14.403,1,20.15,23.88,43.07468,12.42811,Stazione di Servizio IS - Ponte S. Giovanni - ...,NaN,0,1,501,1.399,398401,290.0,254,0.0,NaN
7,2023-12-12 20:39,262719.0,12.545,1,17.55,26.54,43.12885,12.42243,IP - IP,NaN,0,1,501,1.399,89914,0.0,253,0.0,NaN
8,2023-12-06 18:43,262386.0,15.553,1,21.23,21.60,43.09277,12.35795,PERUGIA CENTOVA 2 - Perugia,NaN,0,1,501,1.365,492989,0.0,252,0.0,NaN

In [ ]:
costs = pd.read_csv('sync/vehicle-1-sync.csv', header=0, skiprows=97, nrows=30)

,CostTitle,Date,Odo,CostTypeID,Notes,Cost,flag,idR,read,RemindOdo,RemindDate,isTemplate,RepeatOdo,RepeatMonths,isIncome,UniqueId
0,Revisione,2022-01-12 09:00,214170,1,presso Officina Cardoni,78.75,0,0,0,0,2011-01-01,0,0,0,0,42
1,Tagliando 210000 km,2021-12-27 12:47,213500,2,"Cambio olio,\ncambio filtro olio,\ncambio candele",110.00,0,0,0,0,2011-01-01,0,0,0,0,41
2,Cambio gomme invernali,2021-11-23 16:00,0,1,Cambio gomme invernali Sailun presso Lineauto ...,300.00,0,0,1,0,2011-01-01,0,0,0,0,35
3,Tergicristalli e luci varie,2021-11-23 16:30,0,2,- Sostituzione tutte spazzole anteriori e post...,55.00,0,0,1,0,2011-01-01,0,0,0,0,36
4,"Freni ant, sosp ant dx, batteria, aria cond",2021-07-27 10:29,0,2,NaN,648.00,0,0,0,0,2011-01-01,0,0,0,0,34
5,Rabbocco Olio 1.5lt e controllo liquidi,2020-12-30 09:36,192196,1,NaN,0.00,0,0,1,0,2011-01-01,0,0,0,0,13
6,Revisione,2020-01-25 14:42,178600,1,presso Officina Cardoni,66.88,0,0,1,0,2011-01-01,0,0,0,0,52
7,Cambio gomme invernali,2019-12-14 15:03,175600,1,smaltimento gomme estive\npresso Officina Cardoni,25.00,0,0,1,0,2011-01-01,0,0,0,0,66
8,Tagliando 175000 Km,2019-12-14 15:06,175600,2,Cambio olio\nFiltro olio\nFiltro aria\nDiagnos...,175.00,0,0,1,0,2011-01-01,0,0,0,0,67
9,Cambio gomme invernali,2019-04-23 15:01,161800,1,presso Lineauto,25.00,0,0,1,0,2011-01-01,0,0,0,0,65
10,Cambio gomme invernali,2018-12-15 14:24,153983,1,Montate presso Lineauto\nGomme Sailun\nSmaltit...,300.00,0,0,1,0,2011-01-01,0,0,0,0,46
11,Revisione,2018-01-08 14:40,147340,1,Presso Cipriano Giorgio,66.88,0,0,1,0,2011-01-01,0,0,0,0,51
12,Cambio gomme estive,2017-05-30 15:00,142100,1,presso Lineauto,20.00,0,0,1,0,2011-01-01,0,0,0,0,64
13,Sostituzione lampada H4,2017-01-03 14:22,131484,2,NaN,10.00,0,0,1,0,2011-01-01,0,0,0,0,44
14,Spazzole davanti dietro,2017-01-03 14:21,131484,2,Spazzole tergicristalli anteriore e posteriore...,39.00,0,0,1,0,2011-01-01,0,0,0,0,45
15,Cambio gomme invernali,2016-12-02 14:59,129020,1,presso Lineauto,20.00,0,0,1,0,2011-01-01,0,0,0,0,63
16,Tagliando 120000 Km,2016-10-24 14:26,126515,2,Presso Officina Cardoni,255.00,0,0,1,0,2011-01-01,0,0,0,0,47
17,Sostituzione vetro portiera anteriore sinistra,2016-09-24 14:57,124523,2,vetro anteriore sinistro 120€\nalzacristalli p...,185.00,0,0,1,0,2011-01-01,0,0,0,0,62
18,Revisione,2016-01-23 14:38,109380,1,Presso Officina Cardoni,66.88,0,0,1,0,2011-01-01,0,0,0,0,50
19,Sostituzione mascherina anteriore,2015-12-18 14:56,107600,2,presso Elvio Fiorucci,225.00,0,0,1,0,2011-01-01,0,0,0,0,61
20,Cambio gomme invernali,2015-11-28 14:55,105700,1,presso Lineauto,20.00,0,0,1,0,2011-01-01,0,0,0,0,60
21,Tagliando 90000,2015-07-24 14:53,96600,2,Rettifica dischi anteriori\nsostituzione pasti...,240.00,0,0,1,0,2011-01-01,0,0,0,0,59
22,Sostituzione accendisigari,2015-07-23 14:52,96460,2,NaN,15.00,0,0,1,0,2011-01-01,0,0,0,0,58
23,Cambio gomme estive,2015-06-27 14:51,94320,1,presso Lineauto,300.00,0,0,1,0,2011-01-01,0,0,0,0,57
24,Rabbocco olio,2014-12-24 14:50,84920,2,Rabbocco olio 2 kg\npresso Dino Bianchini,20.00,0,0,1,0,2011-01-01,0,0,0,0,56
25,Cambio gomme invernali,2014-12-06 14:49,82500,1,Gomme Roadstone Winguard sport\npresso Lineauto,280.00,0,0,1,0,2011-01-01,0,0,0,0,55
26,Sostituzione biella ruota destra,2014-11-15 14:48,81000,2,Presso Dino Bianchini,39.00,0,0,1,0,2011-01-01,0,0,0,0,54
27,Revisione,2014-01-20 14:33,68673,1,Presso ConsAuto,65.60,0,0,0,0,2011-01-01,0,0,0,0,48
28,Tagliando 60000,2013-10-07 14:46,65380,2,Rabbocco olio 0.5 lt\nCandele\nFiltro aria\n\n...,85.00,0,0,1,0,2011-01-01,0,0,0,0,53
29,Tagliando 30000 Km,2011-02-12 14:36,30100,2,Presso Rampini Auto,140.20,0,0,1,0,2011-01-01,0,0,0,0,49

In [ ]:
favstations = pd.read_csv('sync/vehicle-1-sync.csv', header=0, skiprows=128, nrows=4)

                                                           ## FavStations
NameBrand      Latitude Longitude StationID Description       CountryCode
Metano Service 43.36295 12.54616  464075    Metano Service            ITA
SEP            43.35304 12.56143  361768    SEP                       ITA
IP             43.12885 12.42243  89914     IP                        ITA

In [ ]:
category = pd.read_csv('sync/vehicle-1-sync.csv', header=0, skiprows=31, nrows=3)

   IdCategory       Name
0           1    Privato
1           2  Di lavoro

## Lettura rifornimenti precedenti

In [7]:
vecchi = pd.read_excel('Contabilita_consumi_Punto.xlsx', header=[2])
# vecchi.drop(vecchi.columns[[5,6,10,11]], axis=1, inplace=True)
vecchi

,Data,Km,Tot,Kg,€/Kg,L,€/L,Distro,A benzina,Serbatoio
0,2010-02-02,1732.0,8.14,9.690000,0.840041,NaN,NaN,G,NaN,1
1,2010-02-04,2005.0,9.5508,11.370000,0.840000,NaN,NaN,G,NaN,1
2,2010-02-08,2300.0,9.67,11.510000,0.840139,NaN,NaN,G,NaN,1
3,2010-02-12,2612.0,11.07,13.180000,0.839909,NaN,NaN,G,NaN,1
4,2010-03-14,6737.0,7.84,9.220000,0.850325,NaN,NaN,G,NaN,1
...,...,...,...,...,...,...,...,...,...,...
667,2020-10-05,189669.0,14.65,14.679359,0.998000,NaN,NaN,BALANZANO,35.0,1
668,2020-10-13,190034.0,15.2,15.215215,0.999000,NaN,NaN,SFAUSTINO,NaN,1
669,2020-10-17,190342.0,10.27,10.937167,0.939000,NaN,NaN,ACQUALAGNA,NaN,1
670,2020-10-22,190603.0,NaN,NaN,NaN,NaN,NaN,SEP,NaN,2
671,2020-10-23,190652.0,14.44,14.764826,0.978000,NaN,NaN,BALANZANO,NaN,1

In [9]:
log.head()

,Data,Odo (km),kg,Full,Price (optional),km/l (optional),latitude (optional),longitude (optional),City (optional),Notes (optional),Missed,TankNumber,FuelType,VolumePrice,StationID (optional),ExcludeDistance,UniqueId,TankCalc,Weather
0,2024-12-23 17:15,292739.0,14.582,1,20.40,22.22,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.399,464075,5.0,342,0.0,NaN
1,2024-12-18 18:37,292410.0,14.761,1,20.65,23.17,43.36295,12.54616,Metano Service - Metano Service,NaN,0,1,501,1.399,464075,0.0,341,0.0,NaN
2,2024-12-15 04:00,292068.0,15.231,1,20.41,24.16,43.09277,12.35795,PERUGIA CENTOVA 2 - Perugia,NaN,0,1,501,1.340,492989,40.0,340,0.0,NaN
3,2024-12-11 19:15,291660.0,16.199,1,21.69,23.64,43.09277,12.35795,PERUGIA CENTOVA 2 - Perugia,NaN,0,1,501,1.339,492989,10.0,338,0.0,NaN
4,2024-12-08 00:05,291267.0,15.639,1,20.94,23.02,43.07468,12.42811,Stazione di Servizio IS - Ponte S. Giovanni - ...,NaN,0,1,501,1.339,398401,40.0,339,0.0,NaN

In [8]:
vecchi.Distro.unique()

array(['G', 'CdC', 'M', 'PVC', 'CIVITANOVA', 'PINETO', 'SAN SISTO', 'GUA',
       'TODI', 'ESSO VIA PERUGINA', 'PONTE RIO', 'TAVERNE', 'FABRIANO',
       'CDC', 'MONTECCHIO', 'SIENA', 'SPEZIA', 'PIOPPI', 'PIEVE TORINA',
       'SFAUSTINO', 'ANCONA', "ESSO PONTE D'ASSI", 'PFELCINO', 'AREZZO',
       'IP VARIANTE', 'AGIP SEMONTE', nan, 'COLLESTRADA', 'BEVANO EST',
       'S MARTINO EST', 'NICHELINO NORD', 'GRENOBLE', 'NICHELINO SUD',
       'S MARTINO OVEST', 'SSEPOLCRO', 'IP PORTA ROMANA', 'PANTALLA',
       'ICM CORCIANO', 'CORCIANO', 'NORCIA', 'TOLENTINO', 'SSEVERO',
       'MAGLIE', 'MURGE EST', 'TERMOLI', 'ARINO EST', 'SLOVENIA',
       'SSTINO LIVENZA', 'IMOLA', 'AGIP MONTELUCE', 'MONTELUCE',
       'E45 COLLEPEPE', 'SLIBERATO', 'ROMA', 'ESSO CIPOLLETO',
       'TAMOIL MONTELUCE', 'CHIANCIANO TERME', 'COLOMBELLA', 'TREVI',
       'TERNI', 'BASTIA', 'MARSCIANO', 'AURELIA', 'GUBBIO', 'SENIGALLIA',
       'CAPITINI', 'SEP', 'COLLEPEPE', 'BALANZANO', 'FOLIGNO', 'ELLERA',
       'SETTEVALLI', 'CATTOLICA', 'ACQUALAGNA'], dtype=object)

In [61]:
log['City (optional)'].unique()

array(['Gubbio - SEP', 'Semonte-casamorcia - Metano Service',
       'Metano Service - ', 'Perugia - IP BALANZANO 24 ORE',
       'Perugia - Stazione di Servizio IS - Ponte S. Giovanni', nan,
       'IP BALANZANO 24 ORE - ', 'Umbertide - Total', 'IP - ',
       'Metano - ', 'ELLERA - IP 24 ORE - ', 'Pineto - Ecofuel',
       'Cerignola - Agip', 'Tursi - IFLEM S.n.c.',
       'Campagna - VALPETROLI STAZIONE DI SERVIZIO', 'METANSERVICE - ',
       'Tamoil - Pantalla', 'Nessun nome - ', 'PERUGIA CENTOVA 2 - ',
       'Is - Perugia', 'IP 24 ORE - ', 'Esso - Valtiera',
       "Metano - Dante-campo Dell'olmo",
       'Metano - Palazzo Mancinelli-vaccara',
       'Metano Service - Metano Service',
       'Centrale Metano Foligno - Paciana - Foligno',
       'IP - Taverne di Corciano', 'SEP - Gubbio', 'SEP - ',
       'Metano - Gpl - ',
       'Stazione di Servizio IS - Ponte S. Giovanni - '], dtype=object)

In [62]:
log['StationID (optional)'].unique()

array([361768, 464075, 398346, 398401,      0,  89170,  89914,  87257,
       397961, 306576, 112013, 116520, 112960, 401835,  87386, 231683,
       492989, 496156, 464073,  89206,  86064,  87006, 487407, 499119,
        90204, 398251,  89913], dtype=int64)

In [48]:
vecchi['Data'] = pd.to_datetime(vecchi['Data'], format='%Y-%m-%d %H:%M')

In [49]:
vecchi['Data'] = vecchi['Data'] + timedelta(hours=12)
vecchi['Data'] = pd.to_datetime(vecchi['Data'], format='%Y-%m-%d %H:%M')
vecchi['Data']

0     2010-02-02 12:00:00
1     2010-02-04 12:00:00
2     2010-02-08 12:00:00
3     2010-02-12 12:00:00
4     2010-03-14 12:00:00
              ...
667   2020-10-05 12:00:00
668   2020-10-13 12:00:00
669   2020-10-17 12:00:00
670   2020-10-22 12:00:00
671   2020-10-23 12:00:00
Name: Data, Length: 672, dtype: datetime64[ns]

In [65]:
log.head()

,Data,Odo (km),kg,Full,Price (optional),km/l (optional),latitude (optional),longitude (optional),City (optional),Notes (optional),Missed,TankNumber,FuelType,VolumePrice,StationID (optional),ExcludeDistance,UniqueId,TankCalc
0,2022-01-11 15:37,214162.0,17.669,0,30.02,0.00,43.35304,12.56143,Gubbio - SEP,NaN,0,2,110,1.699,361768,0.0,88,0.0
1,2022-01-11 14:55,214152.0,15.511,1,21.70,21.41,43.36295,12.54616,Semonte-casamorcia - Metano Service,NaN,0,1,501,1.399,464075,10.0,87,0.0
2,2022-01-05 19:08,213810.0,15.046,1,21.05,20.62,43.36295,12.54616,Metano Service -,NaN,0,1,501,1.399,464075,220.0,86,0.0
3,2021-12-24 09:18,213279.0,14.939,0,20.90,0.00,43.36295,12.54616,Semonte-casamorcia - Metano Service,NaN,0,1,501,1.399,464075,0.0,85,0.0
4,2021-12-18 12:29,212977.0,18.000,0,30.04,0.00,43.35304,12.56143,Gubbio - SEP,NaN,0,2,110,1.669,361768,0.0,84,0.0

In [ ]:
# Esegue lo script per unire i dati storici con il Log di Fuelio
%run unisci_log_storico.py

In [72]:
log.TankCalc.unique()

array([0.])

In [70]:
nomi_colonne = {'Km':'Odo (km)',
                'Kg':'kg',
                'Tot':'Price (optional)',
                '€/Kg':'VolumePrice',
                'Serbatoio':'TankNumber',
                'A benzina':'ExcludeDistance'}

vecchi.rename(columns=nomi_colonne, inplace=True)
vecchi['ExcludeDistance'] = vecchi['ExcludeDistance'].fillna(0)
vecchi

,Data,Odo (km),Price (optional),kg,VolumePrice,Distro,ExcludeDistance,TankNumber
0,2010-02-02 12:00:00,1732.0,8.14,9.690000,0.840041,G,0.0,1
1,2010-02-04 12:00:00,2005.0,9.5508,11.370000,0.840000,G,0.0,1
2,2010-02-08 12:00:00,2300.0,9.67,11.510000,0.840139,G,0.0,1
3,2010-02-12 12:00:00,2612.0,11.07,13.180000,0.839909,G,0.0,1
4,2010-03-14 12:00:00,6737.0,7.84,9.220000,0.850325,G,0.0,1
...,...,...,...,...,...,...,...,...
667,2020-10-05 12:00:00,189669.0,14.65,14.679359,0.998000,BALANZANO,35.0,1
668,2020-10-13 12:00:00,190034.0,15.2,15.215215,0.999000,SFAUSTINO,0.0,1
669,2020-10-17 12:00:00,190342.0,10.27,10.937167,0.939000,ACQUALAGNA,0.0,1
670,2020-10-22 12:00:00,190603.0,NaN,NaN,NaN,SEP,0.0,2
671,2020-10-23 12:00:00,190652.0,14.44,NaN,0.978000,BALANZANO,0.0,1